body{
     background-color: azure;
     font-family: cursive;
     color: darkslategray;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }


.title{
    text-align: center;
    color: #D4160C;
    font-size: 50px;
    font-family: cursive;
    font-style: bold;
    margin-bottom: -5px; 
}

.subtitle {
    text-align: center;
    color:#2D7F51;
    font-size: 30px;
    font-family: cursive;
    margin-bottom: -5px; 
}

.texto {
    text-align: justify;
    color: darkslategray;
    font-family: verdana;
    font-size: 20px;
    margin: 
}

